body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


@font-face {
    font-family: winona;
    src: url("./fonts/Willona_Script.ttf");
}


@font-face {
    font-family: circe;
    src: url("./fonts/Circe-Regular.ttf");
}

@font-face {
    font-family: afrah-light;
    src: url("./fonts/Afrah-Light.ttf");
}

@font-face {
    font-family: abha-reg;
    src: url("./fonts/AbhayaLibre-Regular.ttf");
}

@font-face {
    font-family: abha-bold;
    src: url("./fonts/AbhayaLibre-Bold.ttf");
}

.who {
    width: 100%;
    display: flex;
    justify-content: center;
}


.navigation {
    display: flex;
    position: relative;
    height: 90px;
    background: white;
    width: 100%;
    justify-content: flex-end;
}

.quote-text {
    font-size: 25px;
}

.navigation__elems {
    color: rgb(57, 81, 134);
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    font-family: abha-reg;
    font-size: 18px;
    height: 100%;
    align-items: center;
}

.who__container {
    width: 100%;
    display: flex;
    max-width: 1024px;
    padding-top: 50px;
    padding-bottom: 70px;
}


.who__text {
    width: 70%;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: afrah-reg;
}


.who__pic {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}


.text {
    font-size: 18px;
    font-family: 'abha-bold';
    color: darkslateblue;
}

.who__title {
    display: flex;
    justify-content: center;
    font-size: 60px;
    align-items: center;
    font-family: circe;
    padding-bottom: 50px;
    color: #6D27C6;
}

.who__main-title {
    display: flex;
    justify-content: center;
    font-size: 18px;
    align-items: center;
    font-family: circe;
    color: #6D27C6;
}


.about__title {
    display: flex;
    justify-content: center;
    font-size: 60px;
    align-items: center;
    font-family: circe;
    color: #6D27C6;
    padding-bottom: 50px;
}

.new__title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    align-items: center;
    font-family: circe;
    color: #6D27C6;
    padding-top: 50px;
    padding-bottom: 50px;
}


.left-container {
    display: grid;
    justify-items: center;
    width: 50%;
}


.my-img {
    height: 400px;
    border-radius: 50%;
}

.icons {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.el {
    text-decoration: none;
    color: #6D27C6;
    font-size: 16px;
    font-family: afrah-bold;
}

.right-container {
    display: grid;
    justify-items: center;
    width: 50%;
}


.contact-button {
    display: flex;
    justify-content: center;
    background: #6D27C6;
    border-radius: 60px;
    border: none;
    height: 50px;
    text-decoration: none;
    font-family: abha-bold;
    color: white;
    font-size: 20px;
    width: 150px;
    align-items: center;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about {
    width: 100%;
    display: flex;
    justify-content: center;
}


.about__animation {
    display: grid;
    width: 50%;
    align-items: center;
    justify-content: center;

}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.animate {
    animation: animate 1s linear infinite;
    position: relative;
    left: 10px;
}

.person {
    display: flex;
    justify-content: center;
}


.about__description {
    display: grid;
    width: 50%;
    align-items: center;
    font-family: 'abha-bold';
    font-size: 24px;
    justify-items: center;
}

.about__container {
    display: flex;
    max-width: 1024px;

}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form input, textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    font-size: 18px;
    background: aliceblue;
    border-radius: 25px;
}

.centered {
    width: 100%;
    display: flex;
    justify-content: center;
}

.el:hover {
    color: red;
}

.contact-button:hover {
    color: red;
    font-weight: bold;
}

/*
.parallax {
    background-image: url("./img/scroll.jpg");
    background-attachment: fixed;

}*/

/*
.second-parallax {
    background-image: url("./img/scroll.jpg");
    background-attachment: fixed;
}
*/

.screenshot {

    padding-bottom: 20px;


}


.projects__container {
    display: flex;
    max-width: 1024px;
}

.other {
    display: flex;

}

.other__container {
    background: #6D27C6;
    height: 300px;
    width: 30%;
    border-radius: 10px;
    color: white;
}

.other__title {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
}

.other__github {
    display: flex;
    justify-content: end;
    position: relative;
    right: 20px;
    top: 20px;
}


.projects {
    padding-top: 100px;
    padding-bottom: 50px;
    width: 100%;
    display: grid;
    justify-content: center;
}

.project__text {
    background: #6D27C6;
    width: 300px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    position: relative;
    top: 70px;
    right: 20%;
    height: 100px;
}

.screen {
    width: 100%;
    display: grid;
}

.projects__title {
    font-family: 'circe';
    position: relative;
    left: 100px;
    top: 50px;
}

.used__techno {
    position: relative;
    top: 100px;
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
    right: 30px;

}

.github-icon {
    position: relative;
    top: 120px;
    left: 20px;
}

.projects__description {
    position: relative;
    bottom: 20px;

}

.other__text {
    position: relative;
    top: 100px;
    text-align: center;
}

.other__techno {
    position: relative;
    top: 150px;
    display: flex;
    justify-content: space-evenly;
}

.other {
    display: flex;
    justify-content: center;
    width: 100%;
}

.other__together {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    column-gap: 50px;
    row-gap: 50px;
    justify-content: center;

    max-width: 1024px;

    padding-bottom: 50px;
}


@media (max-width: 1200px) {


    .who__container {
        display: grid;
    }

    .left-container {
        width: 100%;
        height: 100%;
        row-gap: 20px;
    }

    .right-container {
        width: 100%;
        padding-top: 50px;
    }

    .about__container {
        display: grid;
        justify-items: center;
        row-gap: 50px;
    }

    .description__text {
        padding-bottom: 20px;
        font-size: 18px;
    }

    .other__container {
        width: 60%;
    }

    .about {
        padding-bottom: 50px;
    }

}

@media (max-width: 800px) {

    .my-img {
        height: 300px;
    }

    .navigation__elems {
        width: 100%;
    }

    .contact-button {
        width: 250px;
    }
}


@media (max-width: 480px) {

    .image {
        width: 250px;
    }

    .who__main-title {
        font-size: 14px;
    }

    .contact-button {
        width: 120px;
    }

    .about__title {
        font-size: 40px;
    }

    .icons {
        column-gap: 20px;
    }


    .description__text {
        font-size: 14px;
    }


}


@media (max-width: 600px) {




    .new__title {
        font-size: 30px;
    }
}

@media (max-width: 360px) {


    .who__main-title {
        font-size: 11px;
    }

    .about__title {
        font-size: 30px;
    }

    .navigation__elems {
        font-size: 12px;
    }

    .text {
        font-size: 14px;
    }

    .contact-button {
        width: 100px;
    }

    .my-img {
        height: 200px;
    }

    .new__title {
        font-size: 24px;
    }

    .icons {
        column-gap: 10px;
    }

}


/*overlay pics*/

.image {
    position: relative;
    width: 300px;
}


.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: white;
    font-family: abha-reg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1em;
    opacity: 0;
    transition: 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__description {
    text-align: center;
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}


.cont {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}


.cont-1 {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.left {
    width: 50%;
    height: 500px;
    background: url("./img/screenshot.jpg");
    border-radius: 10px;
    padding-top: 50px;
}

.right{
    width: 50%;
    min-height: 200px;
    max-height: 300px;
    background: #6D27C6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: -100px;
}


.left-1 {
    width: 50%;
    min-height: 200px;
    max-height: 300px;
    background: #6D27C6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: -100px;
    position: relative;
}

.right-1 {
    background: url("./img/screenshot.jpg");
    width: 50%;
    height: 500px;
    border-radius: 10px;
    padding-top: 50px;

}

.right h1{
    font-size: 30px;
    font-weight: lighter;
}


.left-1 h1{
    font-size: 30px;
    font-weight: lighter;
}

.right p {
    margin: 20px 0;
}

.right a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.content {
    text-align: center;
    margin: 20px;
}

@media (max-width: 900px){
    .cont {
        flex-direction: column;


    }

    .left {
        width: 100%;
    }

    .right {
        width: 80%;
        margin: 0;
        margin-top: -100px;
    }

    .cont-1 {
        flex-direction: column-reverse;
    }

    .left-1 {
        width: 80%;
        margin: 0;
        margin-top: -100px;
    }

    .right-1 {
        width: 100%;
    }

}











/*




.info {

}

.imgg{
width: 100%;
height: auto;
max-height: 900px;
opacity: 90%;
}

.info__title {
width: 100%;
font-size: 180px;
font-family: winona;
color: white;
position: absolute;
top: 20%;
left: 50%;

}

.pic {
max-width: 400px;
max-height: 700px;
min-width: 200px;
min-height: 250px;
width: 100%;
border-radius: 10px;
}

.andie {
display: flex;
justify-content: center;
width: 100%;
}

.who {
height: 100%;
display: grid;
width: 100%;
}

.who__title {
margin: 50px;
display: flex;
font-size: 120px;
font-family: winona;
color: #395186;
}

.who__text {
display: flex;
margin: 20px;
font-size: 24px;
font-family: afrah-light;
}

.andie__title {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
font-size: 30px;
font-family: abha-bold;
padding-bottom: 50px;
padding-top: 50px;
color: #395186;

}



.andie__pic {
border-radius: 10px;
width: 60%;
display: flex;
justify-content: center;
}

.el{
text-decoration: none;
color: #395186;
}


.andie__main-title {
margin: 25px;
display: flex;
font-size: 120px;
font-family: winona;
justify-content: center;
padding-bottom: 50px;
color: #395186;
}

.andie__container {
display: flex;
justify-content: space-between;
width: 100%;
}

.andie__description {
width: 60%;
margin: 50px;
font-family: 'afrah-light';
font-size: 18px;
display: grid;
align-content: center;
}

.banner {
background: #AAC9D1;
display: grid;
align-content: space-around;
border-radius: 10px;
}

.banner__text {
display: flex;
justify-content: center;
font-family: 'abha-reg';
font-size: 35px;
}

.andie__text {
font-size: 18px;
}

.banner__title {
display: flex;
justify-content: center;
font-family: 'abha-reg';
font-size: 24px;
}

.testimonials__title{
display: flex;
font-size: 120px;
font-family: winona;
justify-content: center;
padding-top: 50px;
color: #395186;
}

.block {

border-left: 5px solid #FFCC00;
margin: 50px;
font-size: 22px;
font-family: 'afrah-light';
}

.author {
text-align: right;
white-space: pre-wrap;
color: #395186;
}

.div_line_bottom {
border-bottom: 1px solid #000;
}

.footer {
background: #395186;
height: 70px;
align-items: center;
display: flex;
width: 100%;
justify-content: space-between;
}

.footer__name {
width: 50%;
padding-left: 20px;
font-size: 16px;
color: white;
font-family: circe;
}

.footer__help {
display: flex;
padding-right: 20px;
padding-left: 20px;
font-size: 16px;
color: white;
font-family: circe;
}

@media (max-width: 600px) {
.navigation__elems {
    font-size: 14px;
    width: 100%;
    padding-top: 10px;
}


.who__text{
    font-size: 16px;
}

.quote-text {
    font-size: 20px;
}



.andie__text {
    font-size: 16px;
}

.footer__help {
    font-size: 14px;
}

.footer__name {
    font-size: 14px;
}




}

@media (max-width: 800px) {



.who__title{
    font-size: 60px;
}

.andie__main-title {
    font-size: 60px;
}

.testimonials__title {
    font-size: 60px;
}




.banner__text {
    font-size: 25px;
}

.andie__title {
    font-size: 20px;

}

.info__title {
    font-size: 60px;
}

.quote-text {
    font-size: 18px;
}

.author {
    font-size: 18px;
}

.who__text {
    font-size: 16px;
}

}

@media (max-width: 480px) {

.footer {
    display: grid;
}

.footer__help {
    font-size: 14px;
    width: 100%;
}

.quote-text {
    font-size: 16px;
}

.author {
    font-size: 16px;
}

.who__text{
    font-size: 14px;
}

.footer__name {
    font-size: 14px;
    width: 100%;
}

.andie__text{
    font-size: 14px;
}
}

@media (max-width: 360px) {


.andie__text {
    font-size: 12px;
}

.who__text {
    font-size: 12px;
}

.quote-text {
    font-size: 12px;
}

.author {
    font-size: 12px;
}

.who__title{
    font-size: 50px;
    margin: 10px;
}

.andie__main-title {
    font-size: 50px;
    margin: 10px;
    padding-bottom: unset;
}

.testimonials__title {
    font-size: 50px;
}

.info__title {
    font-size: 50px;
}

.andie__title {
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.banner {
    height: unset;
}

.banner__text {
    font-size: 14px;
}

.banner__title {
    font-size: 16px;
}

.testimonials__title {
    padding-top: 10px;
}
}

@media (max-width: 900px) {
.andie__container {
    display: grid;
    justify-content: space-between;
    width: 100%;
    justify-items: center;
}

}

@media (max-width: 1000px) {
.info__title {
    font-size: 120px;
}
}
*/
